<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <!-- Encabezado y estilos -->
</head>
<body>
<!-- Contenido del formulario de inicio de sesión -->
<form action="/login" method="post">
    <!-- Campos de entrada para correo electrónico y contraseña -->
    <label for="email">Correo Electrónico:</label>
    <input type="email" id="email" name="email" required>
    <label for="password">Contraseña:</label>
    <input type="password" id="password" name="password" required>
    <!-- Botón para enviar el formulario -->
    <button type="submit">Iniciar Sesión</button>
</form>
</body>
</html>

